{% extends 'base.html' %}

{% block content %}

  <form action="/change_date" method="POST" class="form-inline">
    <h2 class="m-2 p-2"><strong>{{ revolvedor.nome }}</strong></h2>
    <div class="col-sm m-2 p-2 text-center">
      <label for="start">Data:</label>
      <input type="date" class="" id="date-picker" name="date-picker"
          value="{{ date.strftime('%Y-%m-%d') }}">
      
            <button class="btn btn-secondary m-2">Mudar Data</button>
    </div>
  </form>
  

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <caption>Dados do dia</caption>

      <thead class="table-dark">
        <tr>
          <th scope="col">Hora</th>
          <th scope="col">T1</th>
          <th scope="col">T2</th>
          <th scope="col">T3</th>
          <th scope="col">T4</th>
          <th scope="col">T5</th>
          <th scope="col">Média</th>
          <th scope="col">Lig/Des</th>
          <th scope="col">Motivo</th>
        </tr>
      </thead>

      <tbody>
        {% for medida in medidas %}
          <tr>
            <td>{{ medida.time.strftime('%H:%M') }}</td>
            <td>{{ medida.t1 }}</td>
            <td>{{ medida.t2 }}</td>
            <td>{{ medida.t3 }}</td>
            <td>{{ medida.t4 }}</td>
            <td>{{ medida.t5 }}</td>
            <td>{{ "%.1f"|format(medida.media) }}</td>
            <td>{{ 'Ligado' if medida.ligado else 'Desligado' }}</td>
            <td>{{ medida.motivo }}</td>
          </tr>
        {% endfor %}
      </tbody>
      
    </table>
    
    <form class="text-center m-2" action="/turn_on_off" method="POST">
      <button name="switch-btn" id="switch-btn" class="btn btn-primary" 
                {% if ligado %}
                value="Desligar"
              >
                  Desligar
                {% else %}
                value="Ligar"
              >
                  Ligar
                {% endif %}
              </button>
    </form>

    <form class="text-center m-2" action="/logout" method="get">
      <input class="btn btn-danger" type="submit" value="logout" 
          name="Submit" id="logout" />
    </form>
  
  </div>


{% endblock %}